.task-row {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.course-name {
  flex: 1;
  font-weight: bold;
  color: #4B0082; /* Primary purple color */
  background-color: #4B0082;
  color: white;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}

.category-name {
  flex: 1;
  background-color: #ff69b4; /* Pink category background */
  color: white;
  padding: 10px;
  text-align: center;
}

.tasks-list {
  flex: 2;
  background-color: #ddd;
  padding: 10px;
  border-radius: 0 5px 5px 0;
}

.task {
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .task-row {
    flex-direction: column;
  }

  .course-name,
  .category-name,
  .tasks-list {
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
  }

  .task-item {
    flex-direction: column;
  }
}
